<div class="container">
  <div class="row">
    <p class="mt-5 mb-3 col-sm-5 offset-md-2">
      <span class="title-background-color">　<%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集　</span></p>
  </div>
    
<%= form_with model: @customer, url: admin_customer_path(@customer), local: true do |f| %>
  <div class="row mb-3">
    <div class="col-sm-4 ml-auto">
      会員ID
    </div>
    <div class="col-sm-6 mr-auto">
      <%= @customer.id %>
    </div>
  </div>
  <div class="form-inline row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label "氏名" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :last_name, autofocus: true, class: "form-control" %>　
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-inline row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label "フリガナ" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :last_name_kana, class: "form-control" %>　
      <%= f.text_field :first_name_kana, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label "郵便番号" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :postal_code, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label "住所" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label "電話番号" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :telephone_number, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-4 col-form-label">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-sm-6">
    <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
        <%= f.label :is_active, "ステータス", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-7">
        <%= f.radio_button :is_active, :true, checked: true %>
        <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "退会", {value: :false, style: "display: inline-block;"} %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit "変更を保存", class: 'btn btn-success' %>
  </div>
<% end %>