<div class="container">
  <div class="row">
    <h3 class="mt-5 mb-3 col-sm-3 offset-md-2">
      <span class="title-background-color">　新規会員登録　</span></h2>
    
  </div>
<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "public/customers/shared/error_messages", resource: resource %>
  <div class="form-inline row justify-content-center">
    <div class="col-sm-4 col-form-label">
      <%= f.label "名前" %>
    </div>
    <div class="col-sm-8">
      （姓）　<%= f.text_field :last_name, autofocus: true, class: "form-control" %>　
      （名）　<%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-inline row">
    <div class="col-sm-4 col-form-label">
      <%= f.label "フリガナ" %>
    </div>
    <div class="col-sm-8">
      （セイ）<%= f.text_field :last_name_kana, class: "form-control" %>　
      （メイ）<%= f.text_field :first_name_kana, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-sm-5 col-form-label">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-sm-7">
    <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/customers/shared/links" %>
