<div class="container">
  <div class="row">
    <h3 class="mt-5 mb-3 col-sm-3 offset-md-2">
      <span class="title-background-color">　新規会員登録　</span></h2>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-borderless">
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
          <%= render "public/customers/shared/error_messages", resource: resource %>
        <tr>
          <th>名前</th>
          <td><div class="form-inline">
              （姓）　<%= f.text_field :last_name, autofocus: true, class: "form-control" %>　
              （名）　<%= f.text_field :first_name, class: "form-control" %>
              </div>
          </td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><div class="form-inline">
              （セイ）<%= f.text_field :last_name_kana, class: "form-control" %>　
              （メイ）<%= f.text_field :first_name_kana, class: "form-control" %>
              </div>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th><td><%= f.email_field :email, class: "form-control" %></td>
        </tr>
        <tr><th>郵便番号</th><td><%= f.text_field :postal_code, class: "form-control" %></td></tr>
        <tr><th>住所</th><td><%= f.text_field :address, class: "form-control" %></td></tr>
        <tr><th>電話番号</th><td><%= f.text_field :telephone_number, class: "form-control" %></td></tr>
        <tr><th>パスワード</th>
            <td>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </td>
        </tr>
        <tr><th>パスワード確認用</th><td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td></tr>
        <tr><th></th><td><%= f.submit "新規登録", class: 'btn btn-primary' %></td></tr>
      <% end %>
      <%= render "public/customers/shared/links" %>
      </table>
    </div>
  </div>
 

